---
layout: default
title: People
description: Personal includes a simple blog with pagination.
featured_image: /images/petridish.jpg
permalink: /people/
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>The Group</h1>
		<p>We are an interdisciplinary team of scientists who place rigor, 
		reproducibility, and equity at the center of their work. 
		<br/>
		<a href="" class="button button--large"> See our alumni</a>
	</div>

</section>

<section class="listing">
	<div class="wrap">

		{% for person in site.data.people %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url(/images/{{ person.image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title">{{ person.name}}</h2>
					<p class="post__subtitle">{{ person.title }} | {{person.dates}} </p>
					<p class="post__description" style="font-size:1em;">{{ person.bio }}</p>
					{% if person.socials %}
					<br/>
					<ul class="socials">
						{% for social in person.socials %}	
						<li class="socials__item">
								{% if social[0] == "email" %}
								<a href="mailto:{{social[1]}}" target="_blank" class="socials__item__link" title="">
								<i class="fa fa-envelope" aria-hidden="true"></i></a>
								{% elsif social[0] == "website" %}
								<a href="{{social[1]}}" target="_blank" class="socials__item__link" title="">
								<i class="fa fa-link" aria-hidden="true"></i>
								{% else %}
								<a href="{{social[1]}}" target="_blank" class="socials__item__link" title="">
								<i class="fab fa-{{ social[0] | replace: 'facebook', 'facebook-f' | remove: '_url' }}" aria-hidden="true"></i>
								{% endif %}
							</a>
						</li>	
						{% endfor %}
					</ul>
					{%endif%}
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<div class="wrap">

		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | relative_url }}" class="button pagination__prev"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
		{% endif %}
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | relative_url }}" class="button pagination__next"><span>Older Posts</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
		{% endif %}

	</div>

</section>

{% endif %}